:root {
  --hora-background: rgb(255, 255, 255);
  --hora-background-hover: rgb(133, 206, 240);
  --hora-background-cell: rgb(242, 244, 245);
  --hora-header-background: rgb(255, 255, 255);
  --hora-header-text: rgb(145, 152, 165);
  --hora-text: rgb(44, 57, 76);
  --hora-border-cell: rgb(244, 226, 232);
  --hora-cell-padding: 12px;
  --hora-action-column-width: minmax(50px, auto);
  --hora-icon-stroke: 6;
  --hora-border-radius: 6px;
  --hora-grid-auto-rows: minmax(20px, auto);
  --hora-settings-background-color: rgb(255, 255, 255);
  --hora-icon-color: rgb(131, 139, 153);
  --hora-icon-color--active: rgb(18, 151, 226);
  --hora-icon-color--hollow: rgb(224, 226, 232);
  --hora-icon-color--disabled: rgb(189, 194, 201);
}