.hrd {
  &__group {
    padding-top: 10px;
  }

  &__title {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: var(--hr-color-text-1);
  }

  h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
  }
}