html {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alliance No.1", -apple-system,BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 800;
  color: var(--color-grey-700);
}

a {
  text-decoration: none;
  color: var(--color-signal);

  &:hover {
    text-decoration: underline;
  }
}