:root {
  --color-grey-100: rgb(255, 255, 255);
  --color-grey-200: rgb(240, 240, 240);
  --color-grey-300: rgb(220, 220, 220);
  --color-grey-400: rgb(188, 188, 188);
  --color-grey-500: rgb(160, 160, 160);
  --color-grey-600: rgb(115, 115, 155);
  --color-grey-700: rgb(11, 11, 11);
  --color-signal: rgb(78, 188, 44);
  --page-padding: 2rem;
  --xl-size: 1280px;
}