<div class="header__logo">
  <a href="/"><img src="/images/logo.png" /></a>
</div>
<div class="header__middle"></div>
<nav class="header__nav" role="navigation" aria-label="main navigation">
  <div class="header__nav-item">
    <a href="https://hora.studioalex.one/api/">API Documentation</a>
  </div>
  <div class="header__nav-item">
    <a href="/" class="navbar-item">Demo</a>
  </div>
  <div class="header__nav-item">
    <a href="https://github.com/studioalex/hora/issues" class="navbar-item">Issues</a>
  </div>
  <div class="header__nav-item">
    <a href="https://github.com/studioalex/hora" class="navbar-item">GitHub</a>
  </div>
  <div class="header__nav-item">
    <a href="https://www.npmjs.com/package/@studioalex/hora" class="navbar-item">NPM</a>
  </div>
</nav>