/* 
 * Hora styling
 */
 .hora {
  /* Color settings */
  --hr-color-white: #ffffff;
  --hr-color-white-soft: #f9f9f9;
  --hr-color-white-mute: #f1f1f1;
  --hr-color-black: #1a1a1a;
  --hr-color-black-pure: #000000;
  --hr-color-black-soft: #242424;
  --hr-color-black-mute: #2f2f2f;
  --hr-color-gray: #8e8e8e;
  --hr-color-gray-light-1: #aeaeae;
  --hr-color-gray-light-2: #c7c7c7;
  --hr-color-gray-light-3: #d1d1d1;
  --hr-color-gray-light-4: #e5e5e5;
  --hr-color-gray-light-5: #f2f2f2;
  --hr-color-gray-dark-1: #636363;
  --hr-color-gray-dark-2: #484848;
  --hr-color-gray-dark-3: #3a3a3a;
  --hr-color-gray-dark-4: #282828;
  --hr-color-gray-dark-5: #202020;
  --hr-color-divider-light-1: rgba(60, 60, 60, 0.29);
  --hr-color-divider-light-2: rgba(60, 60, 60, 0.12);
  --hr-color-divider-dark-1: rgba(84, 84, 84, 0.65);
  --hr-color-divider-dark-2: rgba(84, 84, 84, 0.48);
  --hr-color-text-light-1: rgb(33, 53, 71);
  --hr-color-text-light-2: rgba(60, 60, 60, 0.70);
  --hr-color-text-light-3: rgba(60, 60, 60, 0.33);
  --hr-color-text-light-4: rgba(60, 60, 60, 0.18);
  --hr-color-text-dark-1: rgba(255, 255, 255, 0.87);
  --hr-color-text-dark-2: rgba(235, 235, 235, 0.60);
  --hr-color-text-dark-3: rgba(235, 235, 235, 0.38);
  --hr-color-text-dark-4: rgba(235, 235, 235, 0.18);
  --hr-color-indigo: #213547;
  --hr-color-indigo-soft: #476582;
  --hr-color-indigo-light: #aac8e4;
  --hr-color-indigo-lighter: #c9def1;
  --hr-color-indigo-dark: #1d2f3f;
  --hr-color-indigo-darker: #14212e;
  --hr-color-green: #42b883;
  --hr-color-green-light: #42d392;
  --hr-color-green-lighter: #35eb9a;
  --hr-color-green-dark: #33a06f;
  --hr-color-green-darker: #155f3e;
  --hr-color-green-dimm-1: rgba(66, 184, 131, 0.5);
  --hr-color-green-dimm-2: rgba(66, 184, 131, 0.25);
  --hr-color-green-dimm-3: rgba(66, 184, 131, 0.05);
  --hr-color-yellow: #ffc517;
  --hr-color-yellow-light: #fcd253;
  --hr-color-yellow-lighter: #fcfc7c;
  --hr-color-yellow-dark: #e0ad15;
  --hr-color-yellow-darker: #ad850e;
  --hr-color-yellow-dimm-1: rgba(255, 197, 23, 0.5);
  --hr-color-yellow-dimm-2: rgba(255, 197, 23, 0.25);
  --hr-color-yellow-dimm-3: rgba(255, 197, 23, 0.05);
  --hr-color-red: #ed3c50;
  --hr-color-red-light: #f54e82;
  --hr-color-red-lighter: #fd1d7c;
  --hr-color-red-dark: #cd2d3f;
  --hr-color-red-darker: #ab2131;
  --hr-color-red-dimm-1: rgba(237, 60, 80, 0.5);
  --hr-color-red-dimm-2: rgba(237, 60, 80, 0.25);
  --hr-color-red-dimm-3: rgba(237, 60, 80, 0.05);
  --hr-color-blue: rgb(67, 186, 231);
  --hr-color-blue-light: rgb(187, 229, 246);
  --hr-color-blue-dark: rgb(0, 154, 195);
  /* Font settings */
  --hr-font-family-base: 'Inter var experimental', 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --hr-font-family-mono: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hora {
  /* Basic Theme Settings */
  --HORA--color--action: var(--hr-color-blue);

  --HORA--grid--gap: 8px;
  --HORA--grid--font-family: var(--hr-font-family-base);
  --HORA--grid--rows-auto: minmax(20px, auto);

  --HORA--actionbar--title-font: 700 1.4em var(--hr-font-family-base);
  --HORA--actionbar--title-color: var(--hr-color-gray-dark-3);

  --HORA--header--background: var(--hr-color-white);
  --HORA--header--font-color: var(--hr-color-text-light-3);
  --HORA--header--font-weight: 700;
  --HORA--header--padding: 12px;
  --HORA--header--border-size: 1px;
  --HORA--header--border-radius: 6px;
  --HORA--header--border: none;
  --HORA--header--border-top: var(--HORA--header--border);
  --HORA--header--border-bottom: var(--HORA--header--border);
  --HORA--header--border-left: var(--HORA--header--border);
  --HORA--header--border-right: var(--HORA--header--border);
  --HORA--header--border-separator: var(--HORA--header--border-size) solid var(--hr-color-white);

  --HORA--header-action-hover-background: var(--hr-color-white-mute);

  --HORA--cell--background: var(--hr-color-white-soft);
  --HORA--cell--padding: 12px;

  --HORA--cell--font-color: var(--hr-color-text-light-1);
  --HORA--cell--font-weight: 400;
  --HORA--cell--border-size: 1px;
  --HORA--cell--border-radius: 6px;
  --HORA--cell--border: var(--HORA--cell--border-size) solid var(--hr-color-text-light-4);
  --HORA--cell--border-top: var(--HORA--cell--border);
  --HORA--cell--border-bottom: var(--HORA--cell--border);
  --HORA--cell--border-left: var(--HORA--cell--border);
  --HORA--cell--border-right: var(--HORA--cell--border);
  --HORA--cell--border-separator: var(--HORA--cell--border-size) solid var(--hr-color-white);

  --HORA--cell-hover--background-color: var(--hr-color-white-mute);
  --HORA--cell-hover--border-separator: var(--HORA--cell--border-size) solid var(--hr-color-white-mute);
  --HORA--cell-hover--border: var(--HORA--cell--border-size) solid var(--hr-color-white);
  --HORA--cell-hover--border-top: var(--HORA--cell-hover--border);
  --HORA--cell-hover--border-bottom: var(--HORA--cell-hover--border);
  --HORA--cell-hover--border-left: var(--HORA--cell-hover--border);
  --HORA--cell-hover--border-right: var(--HORA--cell-hover--border);
  --HORA--cell-hover--font-color: var(--hr-color-text-light-1);

  --HORA--cell-selected--background: var(--hr-color-blue-light);
  --HORA--cell-selected--border-separator: var(--HORA--cell--border-size) solid var(--hr-color-blue-light);
  --HORA--cell-selected--border: var(--HORA--cell--border-size) solid var(--hr-color-blue);
  --HORA--cell-selected--border-top: var(--HORA--cell-selected--border);
  --HORA--cell-selected--border-bottom: var(--HORA--cell-selected--border);
  --HORA--cell-selected--border-left: var(--HORA--cell-selected--border);
  --HORA--cell-selected--border-right: var(--HORA--cell-selected--border);
  --HORA--cell-selected--font-color: var(--hr-color-text-light-1);

  --HORA--settings--background-color: var(--hr-color-white-soft);
  --HORA--settings--headline-font-color: var(--hr-color-text-light-2);
  --HORA--settings--headline-font-weight: 400;
  --HORA--settings--headline-font-size: 1.6em;
  --HORA--settings--border-radius: 6px;
  --HORA--settings--headline-separator: 2pt solid var(--hr-color-gray-light-3);

  --HORA--nodata--background-color: var(--hr-color-white-soft);
  --HORA--nodata--headline-font-color: var(--hr-color-text-light-2);
  --HORA--nodata--headline-font-weight: 400;
  --HORA--nodata--headline-font-size: 1.6em;
  --HORA--nodata--font-color: var(--hr-color-gray-light-1);

  --HORA--field-settings--background: var(--hr-color-gray-light-4);
  --HORA--field-settings--background-disabled: var(--hr-color-gray-light-5);
  --HORA--field-settings--border-radius: 6px;
  --HORA--field-settings--border-size: 1px;
  --HORA--field-settings--border: var(--HORA--field-settings--border-size) solid var(--hr-color-gray-light-4);
  --HORA--field-settings--border-disabled: var(--HORA--field-settings--border-size) solid var(--hr-color-gray-light-3);
  --HORA--field-settings--font-color: var(--hr-color-text-light-2);
  --HORA--field-settings--font-weight: 700;
  --HORA--field-settings--padding: 6px;
  --HORA--field-settings--margin: 6px 3px;
  --HORA--field-settings--ghost-background: var(--hr-color-blue-light);

  --HORA--shimmer--background-color: var(--hr-color-white);
  --HORA--shimmer--box-from-color: var(--hr-color-gray-light-3);
  --HORA--shimmer--box-to-color: var(--hr-color-gray-light-5);

  --HORA--cell-action--width: minmax(50px, auto);
}

.dark	.hora {
  --HORA--color--action: var(--hr-color-blue);

  --HORA--grid--gap: 8px;
  --HORA--grid--font-family: var(--hr-font-family-base);
  --HORA--grid--rows-auto: minmax(20px, auto);

  --HORA--actionbar--title-font: 700 1.4em var(--hr-font-family-base);
  --HORA--actionbar--title-color: var(--hr-color-light-dark-5);

  --HORA--header--background: var(--hr-color-black-soft);
  --HORA--header--font-color: var(--hr-color-text-dark-3);
  --HORA--header--font-weight: 700;
  --HORA--header--padding: 12px;
  --HORA--header--border-size: 1px;
  --HORA--header--border-radius: 6px;
  --HORA--header--border: none; 
  --HORA--header--border-top: var(--HORA--header--border);
  --HORA--header--border-bottom: var(--HORA--header--border);
  --HORA--header--border-left: var(--HORA--header--border);
  --HORA--header--border-right: var(--HORA--header--border);
  --HORA--header--border-separator: var(--HORA--header--border-size) solid var(--hr-color-black-soft);

  --HORA--header-action-hover-background: var(--hr-color-text-dark-4);

  --HORA--cell--background: var(--hr-color-black-mute);
  --HORA--cell--padding: 12px;

  --HORA--cell--font-color: var(--hr-color-text-dark-1);
  --HORA--cell--font-weight: 400;
  --HORA--cell--border-size: 1px;
  --HORA--cell--border-radius: 6px;
  --HORA--cell--border: var(--HORA--cell--border-size) solid var(--hr-color-text-dark-4);
  --HORA--cell--border-top: var(--HORA--cell--border);
  --HORA--cell--border-bottom: var(--HORA--cell--border);
  --HORA--cell--border-left: var(--HORA--cell--border);
  --HORA--cell--border-right: var(--HORA--cell--border);
  --HORA--cell--border-separator: var(--HORA--cell--border-size) solid var(--hr-color-gray-dark-4);

  --HORA--cell-hover--background-color: var(--hr-color-gray-dark-5);
  --HORA--cell-hover--border-separator: var(--HORA--cell--border-size) solid var(--hr-color-gray-dark-5);
  --HORA--cell-hover--border: var(--HORA--cell--border-size) solid var(--hr-color-gray-dark-5);
  --HORA--cell-hover--border-top: var(--HORA--cell-hover--border);
  --HORA--cell-hover--border-bottom: var(--HORA--cell-hover--border);
  --HORA--cell-hover--border-left: var(--HORA--cell-hover--border);
  --HORA--cell-hover--border-right: var(--HORA--cell-hover--border);
  --HORA--cell-hover--font-color: var(--hr-color-text-dark-1);

  --HORA--cell-selected--background: var(--hr-color-blue-light);
  --HORA--cell-selected--border-separator: var(--HORA--cell--border-size) solid var(--hr-color-blue-light);
  --HORA--cell-selected--border: var(--HORA--cell--border-size) solid var(--hr-color-blue);
  --HORA--cell-selected--border-top: var(--HORA--cell-selected--border);
  --HORA--cell-selected--border-bottom: var(--HORA--cell-selected--border);
  --HORA--cell-selected--border-left: var(--HORA--cell-selected--border);
  --HORA--cell-selected--border-right: var(--HORA--cell-selected--border);
  --HORA--cell-selected--font-color: var(--hr-color-text-light-1);

  --HORA--settings--background-color: var(--hr-color-black-mute);
  --HORA--settings--headline-font-color: var(--hr-color-text-dark-2);
  --HORA--settings--headline-font-weight: 400;
  --HORA--settings--headline-font-size: 1.6em;
  --HORA--settings--border-radius: 6px;
  --HORA--settings--headline-separator: 2pt solid var(--hr-color-gray-dark-3);

  --HORA--nodata--background-color: var(--hr-color-black-mute);
  --HORA--nodata--headline-font-color: var(--hr-color-text-dark-2);
  --HORA--nodata--headline-font-weight: 400;
  --HORA--nodata--headline-font-size: 1.6em;
  --HORA--nodata--font-color: var(--hr-color-gray-dark-1);

  --HORA--field-settings--background: var(--hr-color-gray-dark-3);
  --HORA--field-settings--background-disabled: var(--hr-color-gray-dark-4);
  --HORA--field-settings--border-radius: 6px;
  --HORA--field-settings--border-size: 1px;
  --HORA--field-settings--border: var(--HORA--field-settings--border-size) solid var(--hr-color-gray-dark-3);
  --HORA--field-settings--border-disabled: var(--HORA--field-settings--border-size) solid var(--hr-color-gray-dark-3);
  --HORA--field-settings--font-color: var(--hr-color-text-dark-2);
  --HORA--field-settings--font-weight: 700;
  --HORA--field-settings--padding: 6px;
  --HORA--field-settings--margin: 6px 3px;
  --HORA--field-settings--ghost-background: var(--hr-color-blue-light);

  --HORA--shimmer--background-color: var(--hr-color-black-soft);
  --HORA--shimmer--box-from-color: var(--hr-color-gray-dark-4);
  --HORA--shimmer--box-to-color: var(--hr-color-gray-dark-3);

  --HORA--cell-action--width: minmax(50px, auto); 
}

.hora-clip--nodata {
  --HORA--clip-nodata--lens-shadow-color: var(--hr-color-indigo);
  --HORA--clip-nodata--display-shadow-color: var(--hr-color-gray-light-4);
  --HORA--clip-nodata--lens-color: var(--hr-color-blue);
  --HORA--clip-nodata--display-top-color: var(--hr-color-gray-light-5);
  --HORA--clip-nodata--display-top-all-color: var(--hr-color-gray-light-5);
  --HORA--clip-nodata--border-bottom-color: var(--hr-color-gray-light-3);
  --HORA--clip-nodata--border-bottom-all-color: var(--hr-color-gray-light-2);
  --HORA--clip-nodata--display-bottom-color: var(--hr-color-gray-light-4);
}
.dark .hora-clip--nodata {
  --HORA--clip-nodata--lens-shadow-color: var(--hr-color-indigo);
  --HORA--clip-nodata--display-shadow-color: var(--hr-color-gray-dark-1);
  --HORA--clip-nodata--lens-color: var(--hr-color-blue);
  --HORA--clip-nodata--display-top-color: var(--hr-color-gray-dark-5);
  --HORA--clip-nodata--display-top-all-color: var(--hr-color-gray-dark-4);
  --HORA--clip-nodata--border-bottom-color: var(--hr-color-gray-dark-3);
  --HORA--clip-nodata--border-bottom-all-color: var(--hr-color-gray-dark-4);
  --HORA--clip-nodata--display-bottom-color: var(--hr-color-gray-dark-2);
}
