@import './normalize.css';
@import './main.css';

.main {
  background-color: rgb(20, 20, 20);
  color: rgb(240, 240, 240);

  &__test {
    background-color: rgb(240, 240, 240);
    color: rgb(20, 20, 20);
  }
}